{% extends 'base.html' %}

{% block title %}My Appointments - ShishuShield.BD{% endblock %}

{% block content %}
<div class="main-dashboard">
    <div class="welcome-header">
        <h2>My Appointments</h2>
        <a href="{% url 'appointment_create' %}" class="btn-main" style="text-decoration: none; padding: 10px 25px;">Book Appointment</a>
    </div>

    <div class="appointments-section" style="margin-top: 30px;">
        <table class="appt-table">
            <thead>
                <tr>
                    <th>Child</th>
                    <th>Vaccine</th>
                    <th>Hospital</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.child.name }}</td>
                    <td>{{ appointment.vaccine.name }}</td>
                    <td>{{ appointment.hospital.name }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>
                        <span class="status {{ appointment.status }}">
                            {{ appointment.status }}
                        </span>
                    </td>
                    <td>
                        {% if appointment.status == 'pending' %}
                            <a href="{% url 'appointment_reschedule' appointment.pk %}">Reschedule</a>
                            <a href="{% url 'appointment_cancel' appointment.pk %}" style="color: red; margin-left: 10px;">Cancel</a>
                        {% elif appointment.status == 'completed' %}
    {% if appointment.rating %}
        <span style="color: #166534; background: #dcfce7;
        padding: 4px 10px; border-radius: 20px; font-size: 0.85rem;">
            ★ Rated {{ appointment.rating.score }}/5
        </span>
    {% else %}
        <a href="{% url 'rate_hospital' appointment.pk %}"
        style="color: var(--primary-teal);">Rate</a>
    {% endif %}
                        {% else %}
                            {{ appointment.status }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center; padding: 60px; color: #94a3b8;">
                        <p>No appointments yet.</p>
                        <a href="{% url 'appointment_create' %}" style="color: var(--primary-teal); font-weight: bold;">Book your first appointment!</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px;">
        <a href="{% url 'parent_dashboard' %}" class="btn-sec"
        style="text-decoration: none; padding: 10px 25px;">
            Back to Dashboard
        </a>
    </div>
</div>
{% endblock %}
