{% extends 'base.html' %}

{% block title %}My Children - ShishuShield.BD{% endblock %}

{% block content %}
<div class="main-dashboard">
    <div class="welcome-header">
        <h2>My Children</h2>
        <a href="{% url 'child_create' %}" class="btn-main" style="text-decoration: none; padding: 10px 25px;">Add Child</a>
    </div>

    <div class="appointments-section" style="margin-top: 30px;">
        <table class="appt-table">
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            {% for child in children %}
            <tr>
                <td>{{ child.name }}</td>
                <td>{{ child.date_of_birth }}</td>
                <td>{{ child.gender }}</td>
                <td>
                    <a href="{% url 'child_update' child.pk %}" style="color: var(--primary-teal); margin-right: 10px;">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'child_delete' child.pk %}" style="color: #ff4757;">
                    <i class="fas fa-trash-alt"></i>
                </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align: center; padding: 60px; color: #94a3b8;">
                <p>No children added yet.</p>
                <a href="{% url 'child_create' %}" style="color: var(--primary-teal); font-weight: bold;">Click here to add your first child!</a>
            </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="margin-top: 20px;">
        <a href="{% url 'parent_dashboard' %}" class="btn-sec"
        style="text-decoration: none; padding: 10px 25px;">
            Back to Dashboard
        </a>
    </div>
</div>
{% endblock %}